
@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

}
body {
	font-family: 'Lora', serif;
	font-size: 18px;
	background-color: rgb(240,240,240);
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: black;
}



a {
	text-decoration: none;
}

